.#{$namespace}__btn {
  background-color: color('purple');
  color: white;
  border-radius: $border-radius;
  padding: 1rem;
  transition: $transition;
  span {
    margin-left: 0.5rem;
  }

  &--loading {
    @extend .#{$namespace}__btn;
    opacity: 0.6;
    transition: $transition;
    cursor: not-allowed;
  }
}