.hover-scale {
  transition: $transition;
  cursor: pointer;
  &:hover {
    transform: scale(1.15);
    transition: $transition;
  }    
}

.hidden {
  height: 0 !important;
  pointer-events: none;
  opacity: 0;
  transition: $transition;
}