$base-font-size: 62.5%;
$colors: (
  'white' : #fff,
  'black' : #000,
  'light-gray': #f4f7f9,
  'light-gray-2': #d9dde0,
  'light-gray-3': #8c8e90,
  'orange': #f05f40,
  'light-blue': #3ab0d3,
  'blue': #0e5ba3,
  'green': #28a745,
  'dark-green' : #155724,
  'light-green-1': #d4edda,
  'light-green-2': #c3e6cb,
  'red': #dc3545,
  'dark-red': #721c24,
  'light-red-1': #E58F8F,
  'light-red-2': #FDF6F6,
  'purple': #79589F,
  'light-purple': #F7F3FB
);

$border-radius: 5px;
$header-height: 80px;

$mobile: 320px;
$tablet: 768px;
$tablet-landscape: 1024px;
$laptop: 1200px;
$desktop: 1366px;
$wide: 1920px;

$transition: all 200ms ease-in;
$namespace: 'mr';
$minus-sidebar-width: 19rem;

$box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);

$box-shadow-2: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);

$box-shadow-valid: 0 0 0 0.2rem rgba(40, 167, 69, 0.34);
$box-shadow-invalid: 0 0 0 0.2rem rgba(204, 51, 0, 0.2901960784313726);

$font-size-12: (1.2rem, 1.5rem);
$font-size-14: (1.4rem, 1.9rem);
$font-size-16: (1.6rem, 1.9rem);
$font-size-18: (1.8rem, 2rem);
$font-size-20: (2rem, 2.4rem);
$font-size-24: (2.4rem, 2.9rem);
$font-size-26: (2.6rem, 3.1rem);
$font-size-30: (3rem, 3.6rem);
$font-size-34: (3.4rem, 4.1rem);
$font-size-36: (3.6rem, 4.4rem);
$font-size-42: (4.2rem, 5rem);
$font-size-48: (4.8rem, 5.8rem);
$font-size-56: (5.6rem, 5.2rem);
$font-size-64: (6.4rem, 7rem);
