
@import '~normalize.css/normalize';
@import 'sass-mediaqueries/media-queries';
@import '~bootstrap/scss/bootstrap';
@import 'shared/variables';
@import 'shared/mixins';
@import 'shared/functions';
@import 'shared/reset';
@import 'shared/utils';
@import 'shared/button';
@import 'components/header';
@import 'components/list';
@import 'components/error';
@import 'components/card';
@import 'components/poster';
@import 'components/welcome';
@import 'components/loading';


#app {
  display: flex;
  flex-direction: column;
}
