.#{$namespace}__card{
  max-width: 40%;
  margin: 1%;
  transition: $transition;
  min-width: 230px;

  &:hover {
    @extend .hover-scale;
    transform: scale(1.02);
    transition: $transition;
    box-shadow: $box-shadow;
  }

  &__keywords {
    margin: 0 0.2rem;
    a {
      color: white;
      text-decoration: none;
    }
  }
}