.#{$namespace}__error {
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  background: color('light-red-1');
  color: color('light-red-2');
  padding: 1rem;

  i {
    margin-right: 0.5rem;
  }
}