.#{$namespace}__header {
  padding: 1rem;
  box-shadow: $box-shadow;
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 5rem;  
  z-index: 20;

  input {
    width: 80%;
  }

  @include min-screen($tablet) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 30%;
    max-width: $minus-sidebar-width;
    max-height: 100%;  
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;

    &__items {
      flex: 1 1 50%;
      text-align: center;

      &:not(:first-of-type) {
        display: flex;
        justify-content: center;
      }

      img {
        max-width: 3rem;

        g {
          color: color('black');
        }
      }
    }

    @include min-screen($tablet) {
      flex-direction: column;
      height: 100%;

      &__items {
        width: 100%;
        justify-content: flex-start;
        text-align: center;
        flex: none;
        transform: scale(1);
        transition: $transition;
        margin: 0.7rem 0;

        &:not(&:nth-of-type(2)) {
          &:hover {
            transform: scale(1.05);
            transition: $transition;
          }          
        }
      }
    }
  }
}
