.#{$namespace}__list {
  padding: 1rem;
  margin-top: 4rem;
  height: 100%;
  display: flex;
  position: relative;
  @include min-screen($tablet) {
    flex: 1 1 70%;
    margin-left: 30%;
    margin-top: 0rem;
  }

  @include min-screen($tablet-landscape) {
    margin-left: 21%;
  }

  .card {
    max-width: 40%;
    margin: 1%;
    transition: $transition;
    min-width: 230px;

    &:hover {
      @extend .hover-scale;
      transform: scale(1.02);
      transition: $transition;
      box-shadow: $box-shadow;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    &__navigation {
      width: 60%;
      display: flex;
      justify-content: space-between;
      padding: 0.5rem;    
    }    
  }

  &-title{
    text-align: center;
    padding: 0.5rem;
  }

  .#{$namespace}__btn {
    margin: 0 auto;
    max-width: 11rem;
    margin-top: 2rem;
    width: 100%;
    @include min-screen($tablet) {
      width: 30%;
    }
  } 
}