.#{$namespace}__welcome {
  margin-top: $header-height;
  height: calc(100vh - #{$header-height});
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include min-screen($tablet) {
    margin-top: 0px;
    margin-left: 30%; 
    height: 100vh;
    flex: 1 1 70%;
  }
}